<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    
    </head>
    
    <body>
    <div class="row">
    <section class="header02 cid-rS5oGHxo8o" id="header2-1s">
    <div class="container-fluid col">
        <div class="row align-items-center content-row">
          <div class="col-lg-6 wrap-block">
            <div class="contents">
              <h3 class="mbr-subtitle mbr-fonts-style display-4">ABOUT US</h3>
              <h1 class="mbr-section-title mbr-fonts-style mbr-bold display-2">
                Welcome to Best Cars dealership,</h1>
              <h2 class="mbr-section-text mbr-fonts-style mbr-light display-7">
                home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h2>
            </div>
            </div>
            <div class="col-lg-6 photo-split col">
                <img src="https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhcnN8ZW58MHx8MHx8&w=1000&q=80" style= "float:right;width:400px;height:400px;">     
    </section>
    </div>
    </body>

</html>
